*
!*/
!Resources/Forms/*.ui
!Resources/i18n/*.ts
!Resources/Images/*.ico
!Table/*.txt
!/.gitignore
!/LICENSE
!/README
!/BinJEditor.pyw
!/BinJEditor-OneFile.spec
!/BinJEditor-OneFolder.spec
!/JTools.py
!/Resources.qrc
